.help-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: white;
    background-color: #7bb790;
    padding: 10px 15px;
    border-radius: 50%;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 175px;
}


.help-icon:hover {
    background-color: #0062cc;
    cursor: pointer;
}

.tooltip {
    margin-bottom: 10px;
    visibility: hidden;
    position: absolute;
    bottom: 100%;
    transform: translateX(-100%);
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    width: 750px;
    padding: 10px 10px 10px 10px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.help-icon:hover .tooltip {
    visibility: visible;
}
