<!doctype html>
<html lang="en">
  <head>
  	<title>Calendar</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/calendarstyle.css') }}">
	  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/NavBarStyle.css') }}">

<style>
	body {

		background-color: #4686a0;
		color:black;
		background-attachment: fixed, fixed, fixed;
		background-image: url('static/assets/css/images/overlay2.png'),
		url('static/assets/css/images/overlay3.svg');
		background-position:
				top left,
				center center,
				center center;
		background-size:
				auto,
				cover,
				cover;
	}
</style>
	</head>
	<body>
		<div id="navigation">
			<nav>
				<div id="nav-block">
					<div class="nav-content">
						<div class="logo">
							<a href="{{ url_for('index') }}">Cranium Conscious</a>
						</div>
						<ul class="nav-links">
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="{{ url_for('gad') }}">GAD7</a></li>
							<li><a href="{{ url_for('phq') }}">PHQ9</a></li>
							<li><a href="{{ url_for('journal') }}">Journal</a></li>
							<li><a href="{{ url_for('todo') }}">ToDo</a></li>
							<li><a href="{{ url_for('moodtracker') }}">MoodTracker</a></li>
							<li><a href="{{ url_for('mindfulactivites') }}">MindfulActivities</a></li>
							<li><a href="{{ url_for('poetry') }}">Poetry</a></li>
							<li><a href="{{ url_for('quotes') }}">Quotes</a></li>
							<li><a href="{{ url_for('crisis') }}">CrisisSupport</a></li>
						</ul>
					</div>
				 </div>
			</nav>
		</div>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Calendar</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="content w-100">
				    <div class="calendar-container">
				      <div class="calendar"> 
				        <div class="year-header"> 
				          <span class="left-button fa fa-chevron-left" id="prev"> </span> 
				          <span class="year" id="label"></span> 
				          <span class="right-button fa fa-chevron-right" id="next"> </span>
				        </div> 
				        <table class="months-table w-100"> 
				          <tbody>
				            <tr class="months-row">
				              <td class="month">Jan</td> 
				              <td class="month">Feb</td> 
				              <td class="month">Mar</td> 
				              <td class="month">Apr</td> 
				              <td class="month">May</td> 
				              <td class="month">Jun</td> 
				              <td class="month">Jul</td>
				              <td class="month">Aug</td> 
				              <td class="month">Sep</td> 
				              <td class="month">Oct</td>          
				              <td class="month">Nov</td>
				              <td class="month">Dec</td>
				            </tr>
				          </tbody>
				        </table> 
				        
				        <table class="days-table w-100"> 
				          <td class="day">Sun</td> 
				          <td class="day">Mon</td> 
				          <td class="day">Tue</td> 
				          <td class="day">Wed</td> 
				          <td class="day">Thu</td> 
				          <td class="day">Fri</td> 
				          <td class="day">Sat</td>
				        </table> 
				        <div class="frame"> 
				          <table class="dates-table w-100"> 
			              <tbody class="tbody">             
			              </tbody> 
				          </table>
				        </div> 
				      </div>
				    </div>
				    <div class="journal-container">
				    </div>
					<button class="button" id="add-button-entry">Add Entry</button>
					<div class="dialog-entry" id="dialog-entry">
				        <h2 class="dialog-entry-header"> Add New Entry </h2>
				        <form class="form" id="form-entry">
				          	<div class="form-container" align="center">
				            	<label class="form-label" id="valueFromMyButton" for="name">Entry: </label>
				            	<input class="input" type="text" id="entry" maxlength="500">
				            	<input type="button" value="Cancel" class="button" id="cancel-button-entry">
				            	<input type="button" value="OK" class="button button-white" id="ok-button-entry">
				          	</div>
				        </form>
					</div>
					<div class="events-container">
				    </div>
					<button class="button" id="add-button">Add Reminder</button>
				    <div class="dialog" id="dialog">
				        <h2 class="dialog-header"> Add New Reminder </h2>
				        <form class="form" id="form">
				          <div class="form-container" align="center">
				            <label class="form-label" id="valueFromMyButton" for="name">Reminder: </label>
				            <input class="input" type="text" id="name" maxlength="36">
				            <input type="button" value="Cancel" class="button" id="cancel-button">
				            <input type="button" value="OK" class="button button-white" id="ok-button">
				          </div>
				        </form>
				      </div>
				  </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>

